@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: RegolaPro-Book;
        font-weight: 300;
        src: url("https://static.flatpeak.com/misc/fonts/RegolaProBook.otf") format("opentype");
    }

    @font-face {
        font-family: RegolaPro-Regular;
        font-weight: 400;
        src: url("https://static.flatpeak.com/misc/fonts/RegolaProRegular.otf") format("opentype");
    }

    @font-face {
        font-family: RegolaPro-Medium;
        font-weight: 600;
        src: url("https://static.flatpeak.com/misc/fonts/RegolaProMedium.otf") format("opentype");
    }

    :root {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @keyframes fade {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.4; }
    }

}
