<!DOCTYPE html>
<html lang="en" class="bg-whitesmoke">
<head>
    <meta charset="UTF-8">
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="preload" href="https://static.flatpeak.com/misc/fonts/SFProDisplayBold.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
    <link rel="preload" href="https://static.flatpeak.com/misc/fonts/SFProDisplayMedium.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
    <link rel="preload" href="https://static.flatpeak.com/misc/fonts/SFProDisplayRegular.ttf" as="font" type="font/ttf" crossorigin="anonymous" />

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>

<body class="font-book min-w-screen-min text-black_a40 text-[17px]">
    <div class="sm:pt-10">
        <div class="h-full w-full flex flex-col relative overflow-hidden transition-colors duration-200 ease-in sm:mx-auto sm:max-w-[440px] bg-white min-h-screen sm:min-h-[934px] sm:border sm:border-black sm:border-opacity-10 sm:rounded-2xl">
           <div class="h-full flex flex-col flex-1 overflow-hidden">
               {{{body}}}
           </div>
        </div>
    </div>
</body>
</html>
