:root {
    --accent-color: #333333;
    --color-typography-white: #ffffff;
    --color-typography-black: #000000;
    --color-typography-black_a23: #0000003b;
    --color-typography-black_a40: #00000066;
    --color-typography-black_a53: #00000087;
    --color-typography-black_a60: #00000099;
    --color-fill-white: #ffffff;
    --color-fill-light_gray: #f5f5f5;

    --color-border-black: #000000;
    --color-border-black_a13: #00000021;
    --color-border-black_a40: #00000066;
    --color-border-black_a60: #00000099;

    --color-icon-primary100: #2B2B2B;

    --font-regolapro-book: RegolaPro-Book;
    --font-regolapro-regular: RegolaPro-Regular;
    --font-regolapro-medium: RegolaPro-Medium;

    --viewport-inset-top: 10px;
    --viewport-inset-bottom: 32px;

    @media screen and (min-height: 800px) {
        --viewport-inset-bottom: 48px;
    }

    @media screen and (min-height: 840px) {
        --viewport-inset-bottom: 64px;
    }
}

a {
    font-weight: 500;
    color: var(--accent-color);
    text-decoration: inherit;
}

.title {
    color: var(--color-typography-black);
    font-family: var(--font-regolapro-book);
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -0.8px;
}

button, a {
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease-in;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

button:active, a:active {
    opacity: 0.2;
    transition-duration: 0.2s;
}

/* Nav controls */
.nav-controls {
    min-height: calc(64px + var(--extra-top-offset, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--extra-top-offset, 0) 24px 0;
    flex: 0 1 auto;
    position: relative;
    --extra-top-offset: 24px;
}

.main {
    flex: 1;
    padding-bottom: 48px;
}

.main__wrapper {
    padding: 0 24px;
    min-height: 100%;
}

.main__heading {
    padding: 26px 0 22px;
    max-width: 320px;
}

.main__icon-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
}


.footer {
    width: 100%;
    min-height: 17.5%;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 0 24px 36px;
    text-align: center;
}

.footer__disclaimer {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;

    text-align: center;
    row-gap: 8px;
}


/* Buttons */
.button--primary,
.button--secondary,
.button--ghost,
.button--failure {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    user-select: none;
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease-in;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    background-color: var(--accent-color);
    border-radius: 12px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    --color-typography-dynamic: var(--color-typography-white);


    font-family: var(--font-regolapro-regular);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    color: var(--color-typography-dynamic);
}

.button--secondary {
    color: var(--accent-color);
    background-color: #ffffff;
    border: 1px solid var(--accent-color);
}

.button--failure {
    color: #FA4D56;
    background-color: #ffffff;
    border: 1px solid  #ffffff;
}

.button--ghost {
    color: var(--accent-color);
    background-color: #ffffff;
}


.button--icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.button--as-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--accent-color);

    font-family: var(--font-regolapro-book);
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border: none;
}

.text-field {
    background-color: var(--color-fill-light_gray);
    border-radius: 12px;
    position: relative;
    height: 64px;
}

.text-field__input {
    font-family: var(--font-regolapro-book);
    font-size: 16px;
    font-weight: 300;
    font-feature-settings: "case" on, "ss03" on, "salt" on;
    line-height: 1;
    background: none;
    border: none;
    height: 64px;
    padding-top: 21px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.text-field__label {
    position: absolute;
    pointer-events: none;
    transition: 300ms ease all;
    font-feature-settings: "salt" on;
    line-height: 1;
    top: 24px;
    left: 20px;
    color: var(--color-border-black_a40);
}

.text-field__input:focus {
    outline: none;
}
.text-field__input:-webkit-autofill {
    background-color: #f4f4f4;
    color: #333;
    border-color: #ccc;
}

.text-field__input:-webkit-autofill ~ label,
.text-field__input:focus ~ label,
.text-field__input:not(:placeholder-shown) ~ label {
    top: 14px;
    font-size: 12px;
}

.text-field__input::placeholder {
    color: transparent;
}

.theme-failure {
    background-color: #FC7B83;
    --color-typography-black: #ffffff;
    --color-icon-primary100: #FA4D56;
    --color-blurred-fade: #FC7B83;
}
